<% content_for :title, "Editando usuario" %>

<%= render "form", user: @user %>

<br>

<div class="m-4 flex space-x-4">
  <%= link_to "Volver a usuarios", users_path, class: "btn btn-outline" %>
  <%= link_to "Mostrar este usuario", @user, class: "btn btn-info" %>
</div>
