<p style="color: green"><%= notice %></p>

<% content_for :title, "Usuarios" %>

<h1>Usuarios</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Mostrar este usuario", user %>
    </p>
  <% end %>
</div>

<%= link_to "Nuevo usuario", new_user_path %>
