<div id="<%= dom_id answer %>">
  <p>
    <strong>Correct:</strong>
    <%= answer.correct %>
  </p>

  <p>
    <strong>Answer text:</strong>
    <%= answer.answer_text %>
  </p>

  <p>
    <strong>Created At:</strong>
    <%= answer.created_at %>
  </p>

  

</div>
