<div id="<%= dom_id answer %>">
  <p>
    <strong>Correcto:</strong>
    <%= answer.correct ? "Sí" : "No" %>  </p>
  <p>
    <strong>Texto de respuesta:</strong>
    <%= answer.answer_text %>
  </p>

  <p>
    <strong>Creado el:</strong>
    <%= answer.created_at %>
  </p>
</div>
