<% content_for :title, "Nueva respuesta" %>

<h1>New answer</h1>

<%= render "form", answer: @answer %>

<br>

<div>
  <%= link_to "Volver a respuestas", problem_answers_path(@answer.problem) %>
</div>
