<% content_for :title, "Nueva respuesta" %>

<%= render "form", answer: @answer %>

<br>

<div>
  <%= link_to "Volver a respuestas", problem_answers_path(@answer.problem), class: "btn btn-outline" %>
</div>
