<% content_for :title, "Editando problema" %>

<h1>Editando problema</h1>

<%= render "form", problem: @problem %>

<br>

<div>
  <%= link_to "Mostrar problema", @problem %> |
  <%= link_to "Volver a problemas", problems_by_year_path(@problem.unlock_time.year) %>
</div>
