<% content_for :title, "Editando problema" %>

<%= render "form", problem: @problem %>

<br>

<div class="m-4">
  <%= link_to "Volver a problemas", problems_by_year_path(@problem.unlock_time.year), class: "btn btn-outline" %>
  <%= link_to "Mostrar problema", @problem, class: "btn btn-info" %>
</div>
