<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h1>Years</h1>

<div id="years">
  <% @years.each do |year| %>
    <p>
      <%= link_to year, problems_by_year_path(year) %>
    </p>
  <% end %>
</div>
<% if can? :manage, @problem %> |
  <%= link_to "New problem", new_problem_path %>
<% end %>